.profilepage {
    height: 100vh;
    border-radius: 8px;
    
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    margin: 2%;
    margin-top: 0%;
    padding: 40px;
}
.profilepage .back {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    background-position: center;
    background-size: cover;

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}
.profilepage .avatar {
    width: 160px;
    height: 160px;
    margin-right: 10px;
    border-width: 3px;

    position: absolute;
    bottom: 4%;
    left: 2%;
    
    font-size: 40px;
    transition: all 500ms;
}
.profilepage .avatar:hover {
    background-color: #b1b8aec6;
}
.profilepage .add {
    cursor: pointer;
    color: white;
}